# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Get your xAI API Key here for chat and image models: https://console.x.ai/
XAI_API_KEY=****

# Get your Groq API Key here for reasoning models: https://console.groq.com/keys
GROQ_API_KEY=****

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****

# Instructions to create an Upstash Redis instance: https://upstash.com/docs/redis/overall/getstarted
UPSTASH_REDIS_REST_URL=https://patient-oyster-62831.upstash.io
UPSTASH_REDIS_REST_TOKEN=AfVvAAIjcDE4OWE3ZDI0NDYwZTY0N2M5YTI2MWM5NTlkM2U3ZDk3MXAxMA